# Byte-compiled / optimized / DLL files
__pycache__/

# Virtual environment
.env/
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
